<div class="container">
  <div class="row">
    <div class="col l12 s12 white-text footer-text">
      <h6>We gratefully acknowledge the funding support of the following:</h6>
      <ul>
        <li>U.S. Department of Defense Advanced Research Projects Agency, XDATA program</li>
        <li>U.S. Department of Homeland Security, Science and Technology Directorate, Homeland Security Advanced Research Projects Agency (HSARPA)</li>
        <li>Division of Math Sciences CDS&amp;E Grant, National Science Foundation </li>
        <li>Pacific Northwest National Laboratory, operated by Battelle for the U.S. Department of Energy, LDRD Program, Signature Discovery and Future Power Grid Initiatives</li>
      </ul>
    </div>
  </div>
</div>
